.navbar {
    background-color: #3498db; 
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
}

nav {
    display: flex;
    justify-content: center; 
}

.nav-link {
    color: white; 
    text-decoration: none; 
    margin: 0 20px;
    font-size: 20px; 
    transition: color 0.3s ease; 
}

.nav-link:hover {
    text-decoration: underline;
    color: #fff;
}
