.App .todo-list-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s; 
    font-size: 18px; 
    font-weight: bold; 
}

.todo-item:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #888;
    font-weight: normal; 
}

.todo-item:hover {
    background-color: #f0f8ff; 
}



.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.delete-button:hover {
    background-color: #c0392b;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.3s; 
}

.todo-input:focus {
    border-color: #3498db;
    outline: none; 
}

.add-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.add-button:hover {
    background-color: #2980b9;
}
